<h1>Jak grać?</h1>
<div class="how-wrapper">
<h2>1. Wybierz lokalizację</h2>
<div class="row">Przesuwaj mapę tak aby wybrać lokalizację, którą chcesz obstawić.
  Lokalizacja jest wskazana przez znacznik na środku ekranu.
  <br/>Uwaga! Czym dalej od Twojej obecnej lokalizacji (wskazanej przez pulsujący punkt) tym mniejsza wartość nagrody.
</div>
<h2>2. Wybierz typ zakładu</h2>
<div class="row">Wybierz typ zakładu, "krajowy" lub "wojewódzki". Wybierając "krajowy"
  masz mniejszą szansę na wygraną, ale pula nagród jest większa niż w przypadku zakładu "wojewódzkiego".
</div>
<h2>3. Złóż zakład</h2>
<div class="row">Aby złożyć zakład kliknij w przycisk "Zagraj". Zostaniesz przekierowany
  do podsumowania. Możesz jeszcze wrócić do wyboru lokalizacji i typu używając strzałki w lewym
  górnym rogu, albo potwierdzić zakład klikając przycisk "Zapłać".
</div>
<h2>4. Polecaj i zwiększaj szansę na wygraną</h2>
<div class="row">Po zweryfikowaniu płatności możesz skopiować link
  do polecania za pomocą przycisku "kopiuj link". Każda osoba, która wejdzie do aplikacji z tego linku
  oraz złoży zakład zwiększy Twoją szansę na wygraną.
</div>
<h2>5. Wygrane</h2>
<div class="row">Wchodząc na widok "Wygrane" możesz zobaczyć swoje historyczne zakłady (żółte punkty),
  wygrane zakłady (zielone punkty) oraz lokalizacje wylosowane w loterii (fioletowe punkty).
  Wszystkie punkty podzielone są wg. typów: wojewódzkie i krajowe.
</div>
</div>