<h1>Wygrane</h1>
<div class="wrapper">
	<mgl-map
		[style]="'mapbox://styles/mapbox/light-v9'"
		[zoom]="zoom"
		[center]="center"
		[dragRotate]="false"
		[touchZoomRotate]="false"
		(load)="onMapLoad($event)"
	>
	</mgl-map>
	<div class="picker-container">
		<div class="container">
			<div class="select-container">
				<div
					class="split-container"
					(click)="chooseArea(0)"
					[ngClass]="getChosenClass(0)"
				>
					<div class="img-ctn">
						<img
							class="image"
							src="/assets/mazowieckie.png"
							alt=""
						/>
						<div class="progress left"></div>
					</div>
					<h5>Wojewódzkie</h5>
				</div>
				<div
					class="split-container"
					(click)="chooseArea(1)"
					[ngClass]="getChosenClass(1)"
				>
					<div class="img-ctn">
						<img class="image" src="/assets/polska.png" alt="" />
						<div class="progress right"></div>
					</div>
					<h5>Krajowe</h5>
				</div>
			</div>
		</div>
	</div>
</div>
