mgl-map {
	height: 100%;
	width: 100%;
}

.wrapper {
	position: relative;
	height: 100%;
}

.marker {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 50px;
	transform: translate(-50%, -100%);
}

.make_bet-button {
	display: block;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px 20px;
	width: 80vw;
	max-width: 350px;
	z-index: 2;
	color: #444;
	font-size: 14pt;
	border-radius: 20px;
	background: #f7c162;
	box-shadow: 1px 1px 9px #0000004d;
	font-family: 'Hind Siliguri', sans-serif;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}


.picker-container {
   position: absolute;
	text-transform: uppercase;
   background: transparent;
   width: 100%;
   top: 75%;
   height: 50px;
	font-family: 'Hind Siliguri', sans-serif;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	.container {
		display: flex;
		padding-top: 10px;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 340px;
		height: 120px;
		background: white;
		box-shadow: 1px 1px 9px #0000004d;
		border: 0px solid black;
		border-radius: 20px;
		.vovoideship-container, .country-container {
			margin: 5px;
			position: relative;
			transition: width 1s;
			opacity: 0.6;
			&.chosen {
				width: 60%;
				opacity: 1;
			}
			width: 48%;
			height: 80%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			.image {
				width: 35%;
			}
		}
		.separator {
			position: relative;
			background: black;
			border: 1px solid black;
			border-radius: 25%;
			width: 2px;
			height: 50%;
		}
	}
}