<app-splash *ngIf="!back"></app-splash>
<div class="wrapper">
	<mgl-map [style]="'mapbox://styles/mapbox/light-v9'" [zoom]="zoom" [center]="center" [dragRotate]="false"
	 [touchZoomRotate]="false" [maxBounds]="bounds" (load)="onMapLoad($event)">
	</mgl-map>
	<img class="marker" src="/assets/pin.png" />
	<div class="marker-label">{{ distanceFactor }}%</div>
	<div class="location_icon" (click)="clickCenterMap()">
		<img class="marker" src="/assets/60834.svg" />
	</div>
	<div class="make_bet-button" (click)="makeBet()">Zagraj</div>
	<div class="picker-container">
		<div class="container">
			<div class="vovoideship-container" (click)="chooseArea(0)" [ngClass]="getChosenClass(0)">
				<div class="image-container">
					<!-- <div class="progress">
						<img class="image" src="/assets/mazowieckie.png" alt="" />
					</div> -->
				</div>
				<!-- <p>wojewodzkie</p> -->
			</div>
			<div class="country-container" (click)="chooseArea(1)" [ngClass]="getChosenClass(1)">
				<!-- <div class="image-container" [ngStyle]="getStyle(1)">
					<div class="progress">
						<img class="image" src="/assets/polska.png" alt="" />
					</div>
				</div>
				<p>krajowe</p> -->
			</div>
		</div>
	</div>
</div>