<h1>Podsumowanie</h1>
<img class="back-button" (click)="back()" src="/assets/right-arrow.svg" />
<div class="bet-detail">
	<h2>Zakład {{ betTypes[bet.type] }}</h2>
	<div class="row">
		<span class="label">Typ zakładu</span
		><span class="value">{{ bet.getTypeLabel() }}</span>
	</div>
	<div class="row row-group">
		<span class="group-label">Współrzędne</span>
		<span class="group">
			<span class="row">
				<span class="label">szerokość</span>
				<span class="value">{{ bet.getLat() }}°</span>
			</span>
			<span class="row"
				><span class="label">długość</span>
				<span class="value">{{ bet.getLng() }}°</span></span
			>
		</span>
	</div>
	<div class="row">
		<span class="label">Mnożnik</span
		><span class="value">x{{ bet.distanceFactor }}</span>
	</div>
	<div class="row last">
		<span class="label">Max. kwota wygranej</span
		><span class="value"
			>{{ (bet.distanceFactor * maxPrize[bet.area]) | currency: "PLN" : "" }} zł</span
		>
	</div>
	<div class="row padding">
		<span class="label">Koszt zakładu</span
		><span class="value">{{ cost[bet.type] }} zł</span>
	</div>
	<div class="payment">
		<span class="payment-info"
			>Metoda płatności:
			<u (click)="showPaymentMethod = true">{{
				paymentOptionText[paymentOption]
			}}</u>
		</span>
		<div class="action-button" (click)="pay()">zapłać</div>
	</div>
</div>

<div
	class="overlay"
	(click)="showPaymentMethod = false"
	*ngIf="showPaymentMethod"
>
	<div class="popup">
		<h2>Zmień metodę płatności</h2>
		<div class="grid">
			<div
				class="card active"
				(click)="paymentOption = 0"
				[ngClass]="{ active: paymentOption == 0 }"
			>
				<img src="/assets/credit-card.png" alt="" />
			</div>
			<div
				class="card"
				(click)="paymentOption = 1"
				[ngClass]="{ active: paymentOption == 1 }"
			>
				<img src="/assets/blik.png" alt="" />
			</div>
			<div
				class="card"
				(click)="paymentOption = 2"
				[ngClass]="{ active: paymentOption == 2 }"
			>
				<img src="/assets/paypal-logo.png" alt="" />
			</div>
			<div
				class="card"
				(click)="paymentOption = 3"
				[ngClass]="{ active: paymentOption == 3 }"
			>
				<img src="/assets/wallet.png" alt="" />
			</div>
		</div>
	</div>
</div>

<div class="overlay" *ngIf="paid">
	<div class="popup">
		<h2>Weryfikacja płatności</h2>
		<div *ngIf="loading" class="lds-dual-ring"></div>
		<svg
			*ngIf="!loading"
			version="1.1"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 130.2 130.2"
		>
			<circle
				class="path circle"
				fill="none"
				stroke="#73AF55"
				stroke-width="6"
				stroke-miterlimit="10"
				cx="65.1"
				cy="65.1"
				r="62.1"
			/>
			<polyline
				class="path check"
				fill="none"
				stroke="#73AF55"
				stroke-width="6"
				stroke-linecap="round"
				stroke-miterlimit="10"
				points="100.2,40.2 51.5,88.8 29.8,67.5 "
			/>
		</svg>

		<div *ngIf="!loading" class="action-button" (click)="back()">
			zamknij
		</div>
	</div>
</div>
