<h1>Podsumowanie</h1>
<img class="back-button" (click)="back()" src="/assets/right-arrow.svg" />
<div class="bet-detail">
	<h2>Zakład {{ betTypes[bet.type] }}</h2>
	<div class="row">
		<span class="label">Typ zakładu</span
		><span class="value">{{ bet.getTypeLabel() }}</span>
	</div>
	<div class="row row-group">
		<span class="group-label">Współrzędne</span>
		<span class="group">
			<span class="row">
				<span class="label">szerokość</span>
				<span class="value">{{ bet.position.lat }}°</span>
			</span>
			<span class="row"
				><span class="label">długość</span>
				<span class="value">{{ bet.position.lng }}°</span></span
			>
		</span>
	</div>
	<div class="row">
		<span class="label">Mnożnik</span
		><span class="value">x{{ bet.distanceFactor }}</span>
	</div>
	<div class="row last">
		<span class="label">Max. kwota wygranej</span
		><span class="value"
			>{{ bet.distanceFactor * maxPrize[bet.area] }} zł</span
		>
	</div>
	<div class="row">
		<span class="label">Koszt zakładu</span
		><span class="value">{{ cost[bet.type] }} zł</span>
	</div>
	<div class="payment">
		<span class="payment-info"
			>Metoda płatności:
			<u (click)="showPaymentMethod = true">{{
				paymentOptionText[paymentOption]
			}}</u>
		</span>
		<div class="action-button" (click)="pay()">zapłać</div>
	</div>
</div>

<div
	class="overlay"
	(click)="showPaymentMethod = false"
	*ngIf="showPaymentMethod"
>
	<div class="popup">
		<h2>Zmień metodę płatności</h2>
		<div class="grid">
			<div
				class="card active"
				(click)="paymentOption = 0"
				[ngClass]="{ active: paymentOption == 0 }"
			>
				<img src="/assets/credit-card.png" alt="" />
			</div>
			<div
				class="card"
				(click)="paymentOption = 1"
				[ngClass]="{ active: paymentOption == 1 }"
			>
				<img src="/assets/logo.png" alt="" />
			</div>
			<div
				class="card"
				(click)="paymentOption = 2"
				[ngClass]="{ active: paymentOption == 2 }"
			>
				<img src="/assets/paypal-logo.png" alt="" />
			</div>
			<div
				class="card"
				(click)="paymentOption = 3"
				[ngClass]="{ active: paymentOption == 3 }"
			>
				<img src="/assets/wallet.png" alt="" />
			</div>
		</div>
	</div>
</div>

<div class="overlay" *ngIf="paid">
	<div class="popup">
		<h2>Weryfikacja płatności</h2>
		<div *ngIf="loading" class="lds-dual-ring"></div>
		<img *ngIf="!loading" class="check" src="/assets/check.png" alt="" />
		<div *ngIf="!loading" class="action-button" (click)="back()">
			zamknij
		</div>
	</div>
</div>
