<span *ngIf="!disableMenu" class="menu-burger" (click)="toggle()">
	<img src="/assets/menu.png" alt="" />
</span>
<nav *ngIf="!disableMenu" [ngClass]="{ open: open }">
	<div class="profile" [routerLink]="['/user']">
		<img [src]="currentUser.img" />
		<span class="name">{{ currentUser.name }}</span>
	</div>
	<ul>
		<li
			(click)="toggle()"
			[routerLink]="['/']"
			[routerLinkActive]="['active']"
			[queryParams]="{ back: true }"
			class="home"
		>
			Graj
		</li>
		<li
			(click)="toggle()"
			[routerLinkActive]="['active']"
			[routerLink]="['/user']"
		>
			Profil
		</li>
		<li
			(click)="toggle()"
			[routerLinkActive]="['active']"
			[routerLink]="['/winners']"
		>
			Wygrane
		</li>
		<li
			(click)="toggle()"
			[routerLinkActive]="['active']"
			[routerLink]="['/user/bets']"
		>
			Moje Zakłady
		</li>
		<li
			(click)="toggle()"
			[routerLinkActive]="['active']"
			[routerLink]="['/offers']"
		>
			Promocje
		</li>
		<li
			(click)="toggle()"
			[routerLinkActive]="['active']"
			[routerLink]="['/help']"
		>
			Jak Grać?
		</li>
	</ul>
</nav>
<div
	class="overlay"
	[ngClass]="{ fade: !open, remove: overlayClose }"
	(click)="toggle()"
></div>
