<h1>Potwierdzenie płatności</h1>
<div class="bet-detail">
	<h2>Dziękujemy!</h2>
	<div class="row last">
		Twoja płatność została zaksięgowana
		<svg
			class="check"
			version="1.1"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 130.2 130.2"
		>
			<circle
				class="path circle"
				fill="none"
				stroke="#73AF55"
				stroke-width="6"
				stroke-miterlimit="10"
				cx="65.1"
				cy="65.1"
				r="62.1"
			/>
			<polyline
				class="path check"
				fill="none"
				stroke="#73AF55"
				stroke-width="6"
				stroke-linecap="round"
				stroke-miterlimit="10"
				points="100.2,40.2 51.5,88.8 29.8,67.5 "
			/>
		</svg>
	</div>
	<div class="row">
		<div class="referer"><img src="/assets/high-five.png" alt="" /></div>
		<div class="text">
			<h3>Zwiększ swój zasięg!</h3>
			<p>
				Zaproś znajomych do grania i zyskaj do 25 razy większy zasięg!
				Wystarczy, że znajomy kupi dowolny zakład korzystając z linka
				poniżej.
			</p>
			<span class="referer-link" (click)="copy()">kopiuj link</span>
		</div>
	</div>
	<div class="action-button" (click)="back()">wróć</div>
</div>
