<h1>Potwierdzenie płatności</h1>
<div class="bet-detail">
	<h2>Dziękujemy!</h2>
	<div class="row last">
		Twoja płatność została zaksięgowana
		<img class="check" src="/assets/check.png" alt="" />
	</div>
	<div class="row">
		<div class="referer"><img src="/assets/high-five.png" alt="" /></div>
		<div class="text">
			<h3>Zwiększ swój zasięg!</h3>
			<p>
				Zaproś znajomych do grania i zyskaj do 25 razy większy zasięg!
				Wystarczy, że znajomy kupi dowolny zakład korzystając z linka
				poniżej.
			</p>
			<span class="referer-link" (click)="copy()">kopiuj link</span>
		</div>
	</div>
	<div class="action-button" (click)="back()">wróć</div>
</div>
